

{% extends "base_page.html" %}




{% block page-title %}
    app Индекс
{% endblock page-title %}

{% block site-page-title %}
    app Индексссс
{% endblock site-page-title %}

{% block page-lead %}
    Тут типа индексы какие то
{% endblock page-lead %}

{% block content %}


<div>
    {{theme_tree}}
</div>



<ul></ul>


<h2>Tree View</h2>
<p>A tree view represents a hierarchical view of information, where each item can have a number of subitems.</p>
<p>Click on the arrow(s) to open or close the tree branches.</p>

<form><ul id="myUL">
    <li><input type="checkbox"><span class="caret">Beverages</span>
      <ul class="nested">
        <li><input type="checkbox">Water</li>
        <li><input type="checkbox">Coffee</li>
        <li><input type="checkbox"><span class="caret">Tea</span>
          <ul class="nested">
            <li><input type="checkbox">Black Tea</li>
            <li><input type="checkbox">White Tea</li>
            <li><input type="checkbox"><span class="caret">Green Tea</span>
              <ul class="nested">
                <li><input type="checkbox">Sencha</li>
                <li><input type="checkbox">Gyokuro</li>
                <li><input type="checkbox">Matcha</li>
                <li><input type="checkbox">Pi Lo Chun</li>
              </ul>
            </li>
          </ul>
        </li>  
        <li><input type="checkbox"><span class="caret">Tea</span>
            <ul class="nested">
              <li><input type="checkbox">Black Tea</li>
              <li><input type="checkbox">White Tea</li>
              <li><input type="checkbox"><span class="caret">Green Tea</span>
                <ul class="nested">
                  <li><input type="checkbox">Sencha</li>
                  <li><input type="checkbox">Gyokuro</li>
                  <li><input type="checkbox">Matcha</li>
                  <li><input type="checkbox">Pi Lo Chun</li>
                </ul>
              </li>
            </ul>
          </li> 
      </ul>
    </li>
  </ul>
  </form>

  <div class="row justify-content-center align-items-center">
                
    <div
        class="col-2  text-center border justify-content-center align-items-center"
    >
    <a
    name=""
    id=""
    class="btn btn-primary btn-sm"
    href="/appDjangoEdu/take_test"
    role="button"
    >Пройти тест</a>

    <a
    name=""
    id=""
    class="btn btn-secondary btn-sm"
    href="/appDjangoEdu/add_question"
    role="button"
    >Добавить вопрос</a>
        
    </div>
</div>

<script>
    function createList(parent, array){
      
      console.log('in createList', array);
      array.forEach(o => {
        console.log('o:', o)
        var li = document.createElement("li"),
            ul;

        li.textContent = o.theme.name;
        parent.appendChild(li);
        if (o.nested) {
            ul = document.createElement("ul");
            li.appendChild(ul);
            createList(ul, o.nested);
        }
    });
    }

  var str = `{{theme_tree}}`;
  
  object = JSON.parse(str.replace(/&quot;/g,'"'));
  console.log(object);
  createList(document.querySelector("ul"), [object]);
</script>


{% comment %} <script type="application/json"> {% endcomment %}
<script>
  function createList2(parent, array) {
    array.forEach(function (o) {
        var li = document.createElement("li"),
            ul;

        li.textContent = o.name;
        parent.appendChild(li);
        if (o.nest) {
            ul = document.createElement("ul");
            li.appendChild(ul);
            createList2(ul, o.nest);
        }
    });
}

var  object = { name: "name1", nest: [{ name: "name2", nest: [{ name: "name3" }, { name: "name4", nest: [{ name: "name5", nest: [{ name: "name6" }] }, { name: "name7" }, { name: "name8" }] }] }] }
console.log(object);
createList2(document.querySelector("ul"), [object]);
</script>

<script>
    var toggler = document.getElementsByClassName("caret");
    var i;
    for (i = 0; i < toggler.length; i++) {
        toggler[i].addEventListener("click", function() {
            this.parentElement.querySelector(".nested").classList.toggle("active");
            this.classList.toggle("caret-down");
        });

        var self_checkbox = toggler[i].parentElement.querySelector("input[type = checkbox]")
        self_checkbox.addEventListener("click", function() {
            {% comment %} var child_checkboxes =this.parentElement.querySelectorAll('.nested > li > input[type = checkbox]'); {% endcomment %}
            var child_lis = this.parentElement.querySelectorAll('.nested > li ');
            var j = 0;
            var len = child_lis.length;
            {% comment %} console.log(len, this.checked, child_lis[0].firstElementChild); {% endcomment %}
            
            for(j = 0; j < len; j++) {child_lis[j].firstElementChild.checked = this.checked};
        });        
    }
</script>


    


    

  
  
    
    
{% endblock content %}

