

{% extends "base_page.html" %}

{% block page-title %}
"Развлекайся и Развивайся"
{% endblock page-title %}

{% block site-page-title %}
    Портал
{% endblock site-page-title %}

{% block page-lead %}
    Образовательный портал с безграничными возможностями
{% endblock page-lead %}

{% block content %}

    <p>Добро пожаловать на новый образовательный портал "Развивайся и Развлекайся"!</p>
    <p>Попробуй различные приложения из списка ниже :) </p>

    <a
        name=""
        id=""
        class="btn btn-primary"
        href="/appDjangoEdu"
        role="button"
        >Увлекательные викторины по самым разным темам</a
    >
    
    <a
        href="#"
        class="btn btn-primary active"
        role="button"
        >Прочие приложения в разработке...</a
    >
    
    
{% endblock content %}

