{% extends "base_page.html" %}

{% block page-title %}
    Проверить себя
{% endblock page-title %}

{% block site-page-title %}
    Проверить себя
{% endblock site-page-title %}

{% block page-lead %}
    Проверьте себя по выбранным темам.
{% comment %} <ul class="list-group list-group-numbered">
    {% for item in questions %}
    <li class="list-group-item">{{item.theme_name}}</li>
    {% endfor %}
    
</ul> {% endcomment %}


{% endblock page-lead %}

{% block content %}

    {{questions.length}}
   
    
    <div class = "row justify-content-center align-items-center g-2" >
        <div class="col-11">
            {% for item in questions %}
            <div class="card my-1">
                <div class="card-header bg-primary text-white">тема: {{item.theme_name}} </div>
                <div class="card-body bg-light">
                    <h5 class="card-title">Вопрос № {{forloop.counter}}</h5>
                    <p class="card-text">{{item.question}}</p>
                    <div style="height: 50px">
                        
                        <div
                            class="row justify-content-center align-items-center g-2"
                        >
                            <div class="col-3">
                                <button id = "btn-collapse" class="btn btn-secondary collapsed" type="button" 
                                data-mdb-collapse-init="" data-mdb-ripple-init="" data-mdb-target="#collapseWidthExample" 
                                aria-expanded="false" aria-controls= "{{forloop.counter}}" style="">
                                    Показать ответ:
                                </button>
                            </div>

                            <div class="col text-left">
                                <div class="collapse-horizontal collapse" id="{{forloop.counter}}" style="">
                                    <div style="width: 300px;">
                                        {{item.answer}}
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div
        class="row justify-content-center align-items-center g-2"
    >
        <a
        name=""
        id=""
        class="btn btn-primary col"
        href="/appDjangoEdu"
        role="button"
        >Пройти еще тест</a>

        <a
        name=""
        id=""
        class="btn btn-secondary col"
        href="/"
        role="button"
        >Вернуться на главную</a>

    </div>
    
    <script>
        
        var collapse_buttons = document.getElementsByClassName("collapsed");
        var i;
        for (i = 0; i < collapse_buttons.length; i++){
            collapse_buttons[i].addEventListener("click", function(){
                this.classList.toggle("collapsed");
                var controlled = document.getElementById(this.getAttribute("aria-controls"));
                controlled.classList.toggle("show");
            });
        }        

    </script>  
    
{% endblock content %}